.Toolbar {
	width: 100%;
	height: 5.6rem;
	background-color: #703B09;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	color: white;
}

.Toolbar nav {
	height: 100%;
}