.NavItem {
	width: 100%;
	display: block;
	margin: 0.5rem 0;
}

.NavItem a {
	display: block;
	width: 80%;
	color: #8f5c2c;
	text-decoration: none;
}

.NavItem a:hover,
.NavItem a:active,
.NavItem a.active {
	color: #40a3c8;
}

@media screen and (min-width: 500px) {
	.NavItem {
		width: auto;
		height: 100%;
		display: flex;
		align-items: center;
		margin: 0 .5rem;
	}

	.NavItem a {
		display: block;
		height: 80%;
		width: auto;
		color: white;
		text-decoration: none;
		padding: 1rem;
		border-bottom: 4px solid transparent;
	}

	.NavItem a:hover,
	.NavItem a:active,
	.NavItem a.active {
		color: white;
		background-color: #8f5c2c;
		border-color: #40a3c8;
	}

}